<h1>
Square Root Results
</h1>
<div>
</div>

<p> Number </p>
<%= @number.to_s %>
<p> Square Root </p>
<%= @result.to_s %>
<div>
</div>

<form action="/square_root/new">
  <button>Calculate another square root</button>
</form>
